<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input [(ngModel)]="newServerName" class="form-control" type="text">
    <!-- another way is local reference in this template
    <input class="form-control" type="text">
    #serverNameInput>
     <label>Server Content</label>
     the local reference is sent, with all its properties
     to get text of input element => serverNAmeInput.value
      so, this can be used as parameter in the onAddServer() call.
-->
    <label>Server Content</label>
    <input [(ngModel)]="newServerContent" class="form-control" type="text"
    #serverContentInput>
    <br>
    <button
      (click)="onAddServer()"
      class="btn btn-primary">Add Server
    </button>
    <button
      (click)="onAddBlueprint()"
      class="btn btn-primary">Add Server Blueprint
    </button>
  </div>
</div>
